In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('C:/Users/Lala/Google Drive/Institute_of_Data/DATA/bikeshare.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [8]:
# Load data in chunk
result = []

for chunk in pd.read_csv('C:/Users/Lala/Google Drive/Institute_of_Data/DATA/bikeshare.csv', chunksize=1000):
    result.append(sum(chunk['cnt']))
    
total = sum(result)
print(result)

[58304, 86527, 137597, 189573, 194083, 181404, 179495, 143563, 116827, 144140, 222562, 248922, 277244, 275733, 292665, 285178, 215224, 43638]

In [10]:
df.mnth.value_counts()

7     1488
5     1488
12    1483
8     1475
3     1473
10    1451
6     1440
11    1437
9     1437
4     1437
1     1429
2     1341
Name: mnth, dtype: int64

In [24]:
my_dict = {}

for obs in df['mnth']:
    if obs in my_dict.keys():
        my_dict[obs] += 1
    else:
        my_dict[obs] = 1
        
for r in my_dict:
    print(r,':',my_dict[r])

1 : 1429
2 : 1341
3 : 1473
4 : 1437
5 : 1488
6 : 1440
7 : 1488
8 : 1475
9 : 1437
10 : 1451
11 : 1437
12 : 1483

In [ ]:
for i in animal:
    if == 'dog':
        continue
    elif i == 'crocodile':
        break

In [27]:
## Functions shift tab

In [39]:
def function_name(x):
    """function description"""
    value = 1 + 1 + x
    return value # Will return as an object

In [42]:
val = function_name(7)
print(val)

9

In [45]:
def adition_and_multiply(num1,num2):
    addValue = num1+num2
    multValue = num1*num2
    return (addValue,multValue)

In [46]:
suma, mult = adition_and_multiply(3,5)
suma

8

In [47]:
mult

15

In [53]:
def calculate(oper,x,y):
    if oper == 'sum':
        result=x+y
        
    elif oper == 'subs':
        result=x-y
        
    elif oper == 'mult':
        result=x*y
        return result

In [54]:
calculate('mult',5,4)

20

In [56]:
def division(num1,num2):
    try:
        result = num1/num2
        return result
    except:
        print("Divide by 0")

In [57]:
division(1,0)

Divide by 0

In [59]:
# check lambda 
df[] = df[].apply(lambda x: pd.to_determine(x))
#check map function to put equivalence