# Python Fundamental Session 1 - Data types

__Understand Python codes__<br>
1.Code breakdown<br>
2.Debug your codes<br>
3.Find solution online (stackoverflow)

### Data types `Container Sequences`: 
Hold other types of data like string, integer, datetime <br>
Aggregation, sorting, and looping <br>
Can be mutable(List, Set, Dict) or immutable(Tuple)
- `List` Hold data in order it was added, Mutable, Index
- `Set` Unique, Unordered, Mutable
- `Tuple` Holde data in order it was added, Immutable, Index, more efficient than list
- `Dict` Hold data in key/value pairs, Mutable,

## __1. List__

In [ ]:
my_list = []

In [ ]:
list()

In [2]:
fruit = ['apple', 'orange', 'banana']

In [3]:
type(fruit)

list

In [4]:
fruit.append('avocado')

In [5]:
print(fruit)

['apple', 'orange', 'banana', 'avocado']

In [15]:
ricky_fruit = fruit[2]
print(ricky_fruit)

banana

In [18]:
fruit = ['apple', 'orange', 'banana']
print(fruit)

fruit.append('avocado')
print(fruit)

print(fruit[3])

['apple', 'orange', 'banana']
['apple', 'orange', 'banana', 'avocado']
avocado

__Combine Lists__

In [21]:
vegie = ['carrot', 'lettuce', 'onion']

produce = fruit + vegie
print(produce)

['apple', 'orange', 'banana', 'avocado', 'carrot', 'lettuce', 'onion']

In [92]:
vegie.extend(fruit)
print(vegie)

['carrot', 'lettuce', 'onion', 'apple', 'orange', 'banana', 'avocado']

__Remove elements in a list__

In [24]:
produce

['apple', 'orange', 'banana', 'avocado', 'carrot', 'lettuce', 'onion']

In [26]:
position = produce.index('carrot')

In [30]:
produce.pop(produce.index('apple'))

'apple'

In [31]:
produce

['orange', 'banana', 'avocado', 'lettuce', 'onion']

In [93]:
position = fruit.index('orange')

fruit.pop(position)

print(position)
print(fruit)

1
['apple', 'banana', 'avocado']

__Replace elements in a list__

In [32]:
fruit

['apple', 'orange', 'banana', 'avocado']

In [33]:
fruit[2] = 'coconut'

In [34]:
fruit

['apple', 'orange', 'coconut', 'avocado']

In [35]:
fruit[fruit.index('avocado')] = 'berry'

In [36]:
fruit

['apple', 'orange', 'coconut', 'berry']

In [94]:
replace_position = fruit.index('banana')

fruit[replace_position] = 'coconut'

print(fruit)

['apple', 'coconut', 'avocado']

__Iterate over lists__

In [43]:
vegie

['carrot', 'lettuce', 'onion']

In [46]:
# Iterating over list using FOR loops
for i in vegie:
    for j in fruit:
        print(i, j)

carrot apple
carrot orange
carrot coconut
carrot berry
lettuce apple
lettuce orange
lettuce coconut
lettuce berry
onion apple
onion orange
onion coconut
onion berry

In [47]:
# Iterating using list comprehension
[(i, j) for i in vegie for j in fruit]

[('carrot', 'apple'),
 ('carrot', 'orange'),
 ('carrot', 'coconut'),
 ('carrot', 'berry'),
 ('lettuce', 'apple'),
 ('lettuce', 'orange'),
 ('lettuce', 'coconut'),
 ('lettuce', 'berry'),
 ('onion', 'apple'),
 ('onion', 'orange'),
 ('onion', 'coconut'),
 ('onion', 'berry')]

__Sort over lists__

In [97]:
print(vegie)
print(sorted(vegie))

['carrot', 'lettuce', 'onion', 'apple', 'orange', 'banana', 'avocado']
['apple', 'avocado', 'banana', 'carrot', 'lettuce', 'onion', 'orange']

In [49]:
vegie

['carrot', 'lettuce', 'onion']

__QUESTION:__ 10 minutes<br>
- Insert value 'berry' into the __vegie__ list, so the value is between __apple__ & __orange__.<br> Expected results ['carrot', 'lettuce', 'onion', 'apple', 'berry', 'orange', 'banana', 'avocado']

In [50]:
# Answer
vegie.insert(2, 'coconut')

In [51]:
vegie

['carrot', 'lettuce', 'coconut', 'onion']

## __2. Tuple__

In [93]:
print(vegie, type(vegie))

['carrot', 'lettuce', 'coconut', 'onion'] <class 'list'>

In [95]:
tup_vegie = tuple(vegie)
print(tup_vegie, type(tup_vegie))

('carrot', 'lettuce', 'coconut', 'onion') <class 'tuple'>

In [110]:
name = tup_vegie[0]

In [111]:
name

'carrot'

In [112]:
vegie

['carrot', 'lettuce', 'coconut', 'onion']

In [113]:
price = [5, 2, 4]

In [118]:
monday_price = list(zip(vegie, price))
monday_price

[('carrot', 5), ('lettuce', 2), ('coconut', 4)]

In [119]:
monday_price[0]

('carrot', 5)

In [120]:
monday_produce, monday_produce_price = monday_price[0]

print(monday_produce)
print(monday_produce_price)

carrot
5

In [121]:
produce_list = []
price_list = []

for produce, price in monday_price:
    produce_list.append(produce)
    price_list.append(price)

In [122]:
produce_list

['carrot', 'lettuce', 'coconut']

In [123]:
price_list

[5, 2, 4]

In [102]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
sales = ['100', '80', '90', '110', '150', '200', '180']

sale_by_day = list(zip(days, sales))    #[*zip(days, sales)]
sale_by_day


# Tuple errors with trailing commas
# name = 'Jon'
# age = '8',

[('Monday', '100'),
 ('Tuesday', '80'),
 ('Wednesday', '90'),
 ('Thursday', '110'),
 ('Friday', '150'),
 ('Saturday', '200'),
 ('Sunday', '180')]

__Unpacking tuple__

In [13]:
# Using index
monday, monday_sales = sale_by_day[0]
print(monday)
print(monday_sales)

Monday
100

In [19]:
# Using Loops
day_list = []
sale_list = []

for day, sale in sale_by_day:
    day_list.append(day)
    sale_list.append(sale)

In [33]:
# Using For Loops with enumerate()
for i, v in enumerate(sale_by_day):
    day, sale = v
    print(i, day, sale)

0 Monday 100
1 Tuesday 80
2 Wednesday 90
3 Thursday 110
4 Friday 150
5 Saturday 200
6 Sunday 180

## __3. Set__

In [84]:
animal = ['dog', 'cat', 'fish', 'cat', 'dog']



animal = set(animal)

print(animal)

{'cat', 'fish', 'dog'}

__Add data into set__

In [73]:
# use .add() or .update()
animal.add('bird')

# animal.update(['monkey'])

In [74]:
animal

{'bird', 'cat', 'dog', 'fish'}

__Removing data from sets__

In [75]:
# Use .pop() or .discard()
animal.discard('fish')

In [76]:
animal

{'bird', 'cat', 'dog'}

__Set Operations__

In [78]:
a_store = set(['Mon', 'Tue', 'Fri', 'Sat', 'Sun'])
b_store = set(['Mon', 'Tue', 'Wed', 'Thurs', 'Fri'])


# Set of all values
a_store.union(b_store)

{'Fri', 'Mon', 'Sat', 'Sun', 'Thurs', 'Tue', 'Wed'}

In [79]:
# Set of all overlapping values
a_store.intersection(b_store)

{'Fri', 'Mon', 'Tue'}

In [80]:
# Find the difference as to the target
a_store.difference(b_store)

{'Sat', 'Sun'}

In [81]:
b_store.difference(a_store)

{'Thurs', 'Wed'}

## __4. Dictionaries__

In [124]:
female_baby_names = {1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett'}

In [125]:
type(female_baby_names)

dict

In [126]:
female_baby_names

{1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett'}

__Altering Dictionaries__

In [127]:
# Adding values into dict
name = {6: 'Mary'}
female_baby_names.update(name)

In [128]:
female_baby_names

{1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett', 6: 'Mary'}

In [129]:
female_baby_names.update({6: 'Lily'})

In [130]:
female_baby_names

{1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 4: 'SOPHIA', 5: 'Scarlett', 6: 'Lily'}

In [131]:
# Remove values from dict
female_baby_names.pop(4)

'SOPHIA'

In [141]:
female_baby_names

{1: 'EMMA', 2: 'LEAH', 3: 'SARAH', 5: 'Scarlett', 6: 'Lily'}

In [140]:
# Extract values from dict (Safe method)
name = female_baby_names.get(10, 'Key not available')
name

'Key not available'

In [146]:
for key in female_baby_names.keys():
    print(key)

1
2
3
5
6

In [147]:
for key in female_baby_names.values():
    print(key)

EMMA
LEAH
SARAH
Scarlett
Lily

In [148]:
for key in female_baby_names.items():
    print(key)

(1, 'EMMA')
(2, 'LEAH')
(3, 'SARAH')
(5, 'Scarlett')
(6, 'Lily')

In [209]:
def get_rank(name_value):
    for rank, name in female_baby_names.items():
        if name == name_value:
            print(rank)

In [210]:
get_rank('SARAH')

3

__Dictionary Attributes__

In [134]:
# Extract values using for loops and items() method
for key, value in female_baby_names.items():
    print(key, value)

2 LEAH
3 SARAH
4 SOPHIA
5 Scarlett

In [217]:
# Checking dictionaries for data by keys
if 5 in female_baby_names.keys():
    print(female_baby_names[5])
else:
    print('Not Available')

Scarlett

In [210]:
# Checking dictionaries for data by values
if 'Scarlett' in female_baby_names.values():
    print('Yes')
else:
    print('No')

Yes

In [211]:
female_baby_names.items()

dict_items([(1, 'EMMA'), (2, 'LEAH'), (3, 'SARAH'), (5, 'Scarlett'), (6, 'Lily')])

In [214]:
# Questions: find a value inside a dictionary and print key
for key, value in female_baby_names.items():
    if 'leah' in value.lower():   
        print(f'Value found at key: {key}')
    else:
        print('NA')

NA
NA
NA
NA
NA

In [220]:
for key, value in female_baby_names.items():
    if 'lily' in value.lower():
        print(key)

6